#page-numbers{
  display: flex;
  flex-direction: row;
  justify-content: center;

  table{
    width: 100%;
    adding-top: 20px;
  }

  li{
    list-style-type: none;
    padding-left: 3px;

    button{
      width: 27px;
      height: 21px;
      background-color: #0676ff;


      &.button-current{
        background-color: #00dfff;

      }
    }
  }
}
