.App {
  text-align: center;
  padding: 25px;
}

.features-modal-table{
  width: 100%;
}

select, input{
  margin-left: 5px;
  height: 100%;
}

.filters-row{
  height:30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  first-child{
    margin-top: 10px;
  }
}
